<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
    <%= render "layouts/login" %>
    <%= render "layouts/signup" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>